@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-100% * 2);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3,.3,.3);
        transform: scale3d(.3,.3,.3)
    }

    50% {
        opacity: 1
    }
}