@import 'base/var';

@media (max-width: 1260px) {
    .works {
        &__item {
            grid-template-columns: 50% 50%;
        }
    }

}

@media (max-width: 1200px) {
    .contacts {
        &__inner {
            padding: 48px 70px;
        }
        &__description {
            max-width: 300px;
        }
        &__form {
            width: 400px;
        }
    }
}

@media (max-width: 1100px) {
    .works {
        &__item {
            grid-template-columns: 45% 55%;
            &-about {
                max-width: 90%;
            }
            &-title {
                font-size: 28px;
            }
            &-buttons {
                margin-top: 40px;
            }
        }
    }
}

@media (max-width: 950px) {
    .promo {
        padding-top: 95px;
        &__info {
            padding-top: 58px;
            &-title {
                line-height: 60px;
                font-size: 57px;
            }
        }
    }
}

@media (max-width: 870px) {
    .header {
        &__inner {
            justify-content: flex-end;
            padding-right: 90px;
        }
        &__logo {
            margin-right: auto;
        }
        .menu {
            &__btn {
                display: flex;
                right: 10px;
                top: 18px;
                position: absolute;
                z-index: 10;
                cursor: pointer;
                margin-right: 10px;
            }
            &__list {
                position: absolute;
                z-index: 5;
                flex-direction: column;
                height: 50vh;
                width: 100%;
                left: 0;
                right: 0;
                top: -12px;
                align-items: center;
                justify-content: center;
                transform: translateY(-100%);
                transition: all 0.5s;
                &.menu__list-active {
                    transform: translateY(0);
                }
                &-item {
                    padding: 20px;
                    background-color: $form-color;
                    width: 100%;
                    margin-left: 0;
                    &:hover {
                        background-color: $background-color;
                    }
                }
                &-link {
                    display: block;
                    width: 100%;
                }
            }
        }
    }

    .promo {
        padding-top: 30px;
        &__inner {
            flex-direction: column;
            flex-flow: column-reverse;
        }
        
        &__visual {
            &-img {
                object-fit: cover;
                display: block;
                width: 50%;
                margin: 0 auto;
            }
        }
        &__info {
            max-width: 95%;
            margin: 0 auto;
            &-title {
                font-size: 46px;
            }
            &-buttons {
                justify-content: center;
            }
        }
    }

    .works {
        &__item {
            padding-top: 40px;
            display: flex;
            flex-direction: column-reverse;
            &-about {
                align-items: center;
                text-align: center;
            }
        }
    }

    .contacts {
        padding: 50px 20px;
        text-align: center;
        &__inner {
            flex-direction: column;
            width: 90%;
            &::after {
                width: 243px;
                height: 300px;
                right: -50px;
            }

        }
        &__form {
            margin-bottom: 50px;
            max-width: 100%;
            width: 100%;
            &-btn {
                margin: 0 auto;
            }
        }

        &__description {
            margin-bottom: 70px;
            max-width: 90%;
            
            &-title {
                margin-bottom: 20px;
            }
        }
    }
}

@media (max-width: 750px) {
    .promo {
        margin-bottom: 70px;
        text-align: center;
        &__info {
            &-subtitle {
                margin: 0 auto;
                margin-bottom: 10px;
            }
            &-title {
                text-align: center;
            }
        }
    }

    .about {
        padding: 50px 0;
        margin-bottom: 70px;
        text-align: center;
        &__title {
            text-align: center;
        }
        &__text {
            margin-bottom: 70px;

        }
        &__inner {
            display: flex;
            flex-direction: column;
        }
        &__media {
            &-img {
                object-fit: cover;
                display: block;
                width: 60%;
                margin: 0 auto;
            }
        }
        &__content {
            .skills__list {
                display: flex;
                justify-content: center;
                &-item {
                    width: 40px;
                    height: 40px;
                    margin-right: 15px;
                    @include fadeInRight;
                }
            }
        }
    }

    .works {
        &__title {
            margin-bottom: 30px;
        }
        &__inner {
            grid-template-columns: repeat(1, 1fr);
        }
        &__item {
            padding: 25px 40px;
            text-align: center;
            &-img{
                margin-bottom: 20px;
            }
            &-buttons {
                justify-content: center;
            }
        }
    }

    .footer {
        &__menu {
            width: 90%;
        }
    }
    
}

@media (max-width: 600px) {

    

    .about {
        margin-bottom: 100px;
        &__text {
            text-align: center;
            margin-bottom: 70px;
        }
        &__title {
            text-align: center;
        }
    }

    .works {
        &__item {
            .slider {
                min-height: 200px;
                &-container {
                    height: 32vh;
                }
            }
            &-about {
                padding-top: 0;
            }
        }
    }
    .contacts {
        &__inner {
            padding: 48px 33px;

            &::after {
                width: 190px;
                height: 230px;
                right: -15px;
            }

        }
    }
}

@media (max-width: 450px) {
    .header {
        &__inner {
            padding-right: 70px;
        }
        &__logo {
            font-size: 23px;
        }
        .languages-select {
            min-width: 60px;
            font-size: 14px;
        }
       
    }
    .languages {
        &-btn {
            margin-left: 0;
            line-height: 17px;
            font-size: 14px;
        }
    }

    .promo {
        &__info {
            &-title {
                line-height: 55px;
                font-size: 50px;
            }
            &-btn {
                padding: 10px 17px;
                font-size: 16px;
            }
        }
    }

    .works {
        &__inner {
            padding: 0 10px;
        }
        &__item {
            padding: 15px;
            &-buttons {
                flex-direction: column;
            }
            &-link {
                min-width: 170px;
                padding: 10px 15px;
            }
        }
    }

    .contacts {
        &__inner {
            width: 100%;
            padding: 30px 20px;
            text-align: center;
            &::after {
                visibility: hidden;
            }

        }
    }

    
}

@media (max-width: 390px) {
    .promo {
        &__info {
            &-title {
                line-height: 51px;
                font-size: 45px;
            }
        }
    }
}