:root {
    //colors
    --contrast-color: #136F63;
    --main-color: #010225;
    --accent-color: #BA2D0B;
    --text-color: #fff;

    //fonts
    --main-font: "Montserrat", sans-serif;
    --text-font: "Poppins", sans-serif;
}