
@import 'base/global';
@import 'base/var';
@import 'base/reset';
@import 'base/lib';
@import 'animations.scss';

@import 'blocks/buttons';
@import '../../node_modules/animate-scss/animate.scss';

.header {
    padding: 34px 0 15px;
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        font-weight: 700;
        font-size: 27px;
        line-height: 30px;
    }
    .menu {
        &__list {
            display: flex;
            justify-content: space-between;
            max-width: 810px;
            &-item {
                margin-left: 50px;
                border-bottom: 2px solid transparent;
                transition: all 0.3s;
                &:hover {
                    border-bottom-color: #fff;
                }
            }
            &-link {
            }
        }
    }
    .languages-btn {
        background-color: $form-color;
        padding: 5px 10px;
        border-radius: 10px;
        color: #fff;
        margin-left: 10px;
        &:hover {
            font-weight: 700;
            background: $button-color;
        }
    }
}

.fixed-header {
    position: fixed;
    background-color: $form-color;
    top: 0;
    left: 0;
    width: 100%;
}


.promo {
    padding-top: 39px;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__info {
        max-width: 447px;
        &-title {
            padding-top: 150px;
            font-weight: 700;
            font-size: 62px;
            line-height: 72px;
            color: #E4E4E4;
            margin-bottom: 27px;
        }
        &-descr {
            margin-bottom: 27px;
        }
        &-buttons {
            display: flex;

        }
        &-btn {
            background: rgba(255, 255, 255, 0.3);
            border-radius: 6px;
            padding: 14px 41px;
            margin-right: 10px;
            color: #fff;
            &:hover {
                font-weight: 700;
                background: $button-color;
            }
            &.contact {
            }
            &.cv {
            }
        }
    }
    &__visual {
        &-img {
            transform: scale(-1, 1);
        }
    }
}


.about {
    padding: 100px 0;
    
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }
    &__media {

    }
    &__content {
        .skills__list {
            padding-left: 40px;
            &-item {
                list-style-type:circle;
                padding: 5px 0;
                margin-bottom: 10px;
                @include fadeInRight;
            }
        }
    }
    &__title {
        text-align: left;
        margin-bottom: 10px;
        padding-left: 0;
    }
    
    &__text {
        max-width: 600px;
        margin: 0 auto;
        margin-bottom: 40px;
        
    }
}


.works {
    &__title {
    }
    &__inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }
    &__item{
        padding: 45px;
        border-radius: 25px;
        border: 2px solid #fff;
        transition: all 0.3s;
        background: $form-color;
        @include fadeInRight;
        animation-fill-mode: forwards;
        &:hover {
            transform: scale(1.1);
        }
        &-img {
            margin-bottom: 40px;
        }
        &-title {
            margin-bottom: 15px;
            font-size: 25px;
            line-height: 35px;
        }
        &-decr {
            font-size: 18px;
            line-height: 27px;
            color: #929EB0;
            margin-bottom: 45px;
        }
        &-buttons {
            display: flex;
            justify-content: space-between;
            gap: 10px;
        }
        &-link {
            display: block;
            padding: 15px 40px;
            font-size: 18px;
            line-height: 27px;
            font-weight: 600;
            border: 1px solid #fff;
            border-radius: 60px;
        }
    }
}

.contacts {
    padding: 100px 0;
    &__title {
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        max-width: 900px;
        margin: 0 auto;
        background: $form-color;
        padding: 53px 125px;
        border-radius: 30px;
        position: relative;
        &::after {
            position: absolute;
            content: '';
            width: 300px;
            height: 400px;
            background-image: url(../images/contacts/contacts.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            bottom: -100px;
            right: 0;
        }

    }
    &__description {
        max-width: 250px;
        &-title {
            margin-bottom: 50px;
        }
        &-text {
            margin-bottom: 50px;

        }
        &-mail {
            display: block;
            margin-bottom: 14px;

        }
        &-telegram {

        }
        &-link {

        }
    }
    &__form {
        max-width: 350px;        
        display: flex;
        flex-direction: column;
        &-title {
            margin-bottom: 20px;
        }
        &-input {
            background: rgba(255, 255, 255, 0.3);
            box-shadow: 0px 10px 20px rgba(2, 4, 6, 0.15);
            border-radius: 10px;
            padding: 10px 20px 6px 20px;
            font-size: 17px;
            line-height: 24px;
            margin-bottom: 20px;
            border: none;
            color: #fff;
            &::placeholder {
                color: #fff;
            }
        }
        &-text {
            background: rgba(255, 255, 255, 0.3);
            box-shadow: 0px 10px 20px rgba(2, 4, 6, 0.15);
            border-radius: 10px;
            margin-bottom: 20px;
            padding: 10px 20px 6px 20px;
            color: #fff;
        }
        &-btn {
            max-width: 160px;
            padding: 8px 17px;
            box-shadow: 0px 10px 20px rgba(2, 4, 6, 0.15);
            border-radius: 10px;
        }
    }
}


.footer {
    padding: 40px 0 60px 0;
    font-size: 16px;
    line-height: 20px;
    background-color: $form-color;
    &__menu {
        width: 573px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        border-bottom: 2px solid rgba(255, 255, 255, 0.15);
        margin-bottom: 20px;
        padding-bottom: 10px;
    }
}

.social {
    display: flex;
    justify-content: center;
    &__list {
        max-width: 240px;
        display: flex;
        justify-content: space-between;
        &-item {
            width: 30px;
            height: 30px;
        }
        &-item + .social__list-item {
            margin-left: 10px;
        }
        &-link {
        }
        &-img {
        }
    }
}






