// $background-color: #0F103F;;
$background-color: #5392A0;
$item-color: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
$arrow-color: linear-gradient(87.32deg, #E2A300 4.47%, #E29500 95.53%);
// $form-color: rgba(47, 47, 138, 0.6);
$form-color: #014e62;
$footer-color: #1C1C65;
// $button-color: linear-gradient(101.81deg, #C961DE 25.84%, #3645A0 98.95%);  
$button-color: linear-gradient(90deg, #5392a0,#014e62,#02293d);                                             