
// $background-color: #5392A0;

$item-color: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
$arrow-color: linear-gradient(87.32deg, #E2A300 4.47%, #E29500 95.53%);
// $form-color: #014e62;

$footer-color: #1C1C65;
// $button-color: linear-gradient(101.81deg, #C961DE 25.84%, #3645A0 98.95%);  
$button-color: linear-gradient(90deg, #5392a0,#014e62,#02293d);    

// нравится! сине-розовая
// $background-color: #6758a4;
// $form-color: #a495ee;

// нравится! желто-зеленая
// $background-color: #33B864;
// $form-color: #E48716;

// нравится! зелено-зеленая
// $background-color: #87C159;
// $form-color: #E48716; акцентный
// $form-color: #058240;

$text-color: #fff;
$title-color: #fff;
$background-color: #87C159;
// $form-color: #E48716;
$form-color: #058240;
$work-color: #058240;