$background-color: #0F103F;;
$item-color: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
$arrow-color: linear-gradient(87.32deg, #E2A300 4.47%, #E29500 95.53%);
$form-color: rgba(47, 47, 138, 0.6);
$footer-color: #1C1C65;