.contacts {
    margin-bottom: 50px;
    .contacts__title {
    }
    .section__title {
    }
    .contacts__text {
    }
    .contacts-form {
        max-width: 60%;
    }
    .contacts-form__input {
        display: block;
    }
    .contacts-form__textarea {
    }
    .contacts-form__btn {
    }
}
