@import '../base/var';
@import '../../../node_modules/animate-scss/animate.scss';

.works {
    padding-bottom: 70px;
    &__inner {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
    &__item{
        background-color: $work-color;
        width: 100%;
        padding: 10px 25px 45px 25px;
        display: grid;
        grid-template-columns: 45% 55%;
        border-radius: 5px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        color: $text-color;
        @include fadeInRight;
        animation-fill-mode: forwards;
        transition: all 0.3s;
        position: relative;  
        margin-bottom: 40px;      
        &-tags {
            display: flex;
            gap: 7px;
            .works-tag {
                padding: 5px 10px;
                background-color: #234c63;
                border-radius: 5px;
                width:fit-content;
                margin-bottom: 10px;
            }
        }
        
        .slider {
            margin-bottom: 20px;
            margin-right: 30px;
            position: relative;
            min-height: 260px;
            &-container {
                margin: 0 auto;
                height: 45vh;
                max-width: 60rem;
                position: relative;
                overflow: hidden;
                .slide{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    transition: all 0.5s ease-in-out;
                    &-img {
                        object-fit: contain;
                        height: 100%;
                        width: 100%;
                        margin: 0 auto;
                        display: block;
                    }
                    &:last-child {
                          .slide-img {
                            object-fit: contain;
                          }  
                    }
                }
                
            }
            .button-container {
                display: flex;
                justify-content: space-between;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 5px;
                right: 5px;
                .prevBtn, .nextBtn{
                    border-radius: 50%;
                    width: 20px;
                    height: 20px;
                    padding: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: rgba(255, 255, 255, 0.55);
                }
            }
        }
        &-about {
            padding-top: 40px;
            padding-bottom: 30px;
            max-width: 80%;
            position: relative;
            display: flex;
            flex-direction: column;
        }
 
        &-title {
            margin-bottom: 35px;
            font-size: 30px;
            line-height: 38px;
            font-weight: 500;
        }
        &-decr {
            font-size: 18px;
            line-height: 27px;
            color: #fff;
        }
        &-buttons {
            display: flex;
            gap: 15px;
            margin-top: auto;

        }
        &-link {
            display: block;
            padding: 7px 15px;
            min-width: 100px;
            max-height: 60px;
            text-align: center;
            font-size: 18px;
            line-height: 27px;
            border: 0.5px solid #fff;
            border-radius: 20px;
            transition: all 0.5s;
            &:hover {
                transform: scale(1.1);
                background: $button-color;
            }
        }
    }
}