.works {
    margin-bottom: 100px;
    .works__title {
    }
    .section__title {
    }
    .works-slider {
    }
    .works-wrapper {
        max-width: 100%;
        overflow: hidden;
    }

    .works__items {
        display: flex;
        gap: 30px;
        align-items: flex-start;
    }
    .works-item {
        width: 30%;
    }
    .works-item__tags {
        display: flex;
        gap: 15px;
        align-items: center;
    }
    .works-item__tag {
    }
    .works-preview__slider {
    }
    .works-preview__items {
    }
    .works-preview__img {
    }
    .works-preview__buttons {
    }
    .works-preview__btn {
    }
    .works-item__title {
    }
    .works-item__descr {
    }
    .works-item__links {
    }
    .works-item__link {
        padding: 5px;
        border: 1px solid #fff;
    }
}
